@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .screen-padding {
    @apply px-5 xl:px-32 md:px-10;
  }

  section {
    @apply my-8;
  }

  .btn {
    @apply font-display h-12 flex justify-center items-center text-btn-font my-4 py-[10px] px-[45px] rounded-full border-secondary border hover:border-none hover:bg-highlight hover:text-primary;
  }
  .btn-2 {
    @apply btn border bg-secondary text-primary;
  }

  .header {
    @apply font-display;
  }

  p {
    @apply font-body text-lg;
  }

  h2 {
    @apply font-display text-4xl;
  }

  h3 {
    @apply font-display text-2xl;
  }

  .card {
    @apply grid grid-cols-1 place-items-center bg-secondary/10 w-full lg:w-[24%] md:w-[30%] sm:w-[48%] my-2 p-3 backdrop-blur-md;
  }

  .star path {
    @apply fill-highlight border-2 border-primary;
  }

  label {
    @apply font-display text-2xl;
  }
  .admin-link {
    @apply flex items-center hover:text-highlight my-5;
  }
  .account-form-input {
    @apply w-full md:w-[45%] flex flex-col;
  }
  .account-form-input input {
    @apply bg-primary/80 h-[35px] text-secondary px-2;
  }
}

.underline-effect {
  color: #dcdcdc;
  position: relative;
  background: none;
  width: 100%;
}

.underline-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 5px;
  bottom: 5px;
  background: linear-gradient(
    111.3deg,
    rgba(72, 253, 74, 1) 9.6%,
    rgba(72, 253, 74, 0) 100.6%
  );
}

#fill path {
  fill: #48fd4a;
}

.svg-fill path {
  fill: #dcdcdc;
}

.mark {
  text-decoration: underline;
  background-color: transparent;
  color: #dcdcdc;
  text-decoration-color: #48fd4a;
}

#about {
  scroll-margin-top: 110px;
}
